body {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Playfair Display", serif;
    background: #4169e1;
}

.card {
    color: black;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;

}


button {
    margin: 0.3em;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.2s, ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.8em;
    border-radius: 18px;
    background: whitesmoke;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(80% - 100px);

}

button:hover {
    background: darkgrey;
}

h1.temp{
    margin: 0;
}

.description {
    text-transform: capitalize;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;

}

.weather.loading.after{
    visibility: visible;
    content: "Loading.....";
    color: black;
    position: absolute;
    top: 0;
    left: 20px;

}